*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
  font-size: 62.5%;

  /***************** Custom Properties *****************/

  /* Colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: rgba(255, 196, 19, 0.85);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
  --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);

  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);

  /* Transtion Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;
}

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  font-size: 3rem;
  background-color: var(--color-quaternary);
}

.container {
  display: grid;
  grid-template-columns:[container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
}

header#header {
  grid-column: container-start / container-end ;
  background-color: var(--color-primary);
}

#booking-content {
  grid-column: center-start / col-end 6 ;
  background-color:var(--color-secondary-m-dark);
  height: 400px;
}

#booking-date {
  grid-column: col-start 7 / center-end;
  background-color: var(--color-secondary-m-light);
  height: 400px;
}

#villas {
  grid-column: container-start / container-end;
  background-color: var(--color-primary-m-dark);
  height: 400px;
}

#motto {
  grid-column: container-start / container-end;
  background-color: var(--color-secondary);
  height: 400px;
}

#events-content {
  grid-column: container-start / col-end 9;
  background-color: var(--color-tertiary-m-light);
  height: 400px;
}

#events-text {
  grid-column: col-start 10/ col-end 10;
  background-color: var(--color-tertiary-m-dark);
  height: 400px;
}

#gallery-text {
  grid-column: center-start / col-end 1;
  background-color: var(--color-primary-m-light);
  height: 400px;
}

#gallery-carousel {
  grid-column: col-start 2 / container-end ;
  background-color: var(--color-tertiary-m-dark);
  height: 400px;
}

#features-content {
  grid-column: container-start/ col-end 9;
  background-color: var(--color-secondary);
  height: 400px;
}

#features-text {
  grid-column: col-start 10 / center-end ;
  background-color: var(--color-tertiary-m-dark);
  height: 400px;
}

#testimonials {
  grid-column: center-start / center-end;
  background-color: var(--color-primary);
  height: 400px;
}

#footer {
  grid-column: container-start / container-end;
  background-color: var(--color-quaternary-m-dark);
  height: 100px;
}